/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
* {
  font-size: 10px;
  font-family: Arial,Helvetica, sans-serif;
}

/* Flash Messages Section */
.notice, .alert, .error {
  background: black;
  height: 25px;
  padding: 10px 0 0 10px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  font-weight: bold;
}
.notice { color: lime;    }
.error  { color: red;     }
.alert  { color: orange;  }
/* End Flash Messages Section */

/* Form Fields Section */
/* End Form Fields Section */
$main-color: lime;
$link-color: $main-color;

/*General Style*/
a {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: $link-color;
  &:hover { color: darken($link-color, 10%); }
}

body {
  background: lighten(#000, 5%);
  color: #ddd;
}

/*End General Style*/

/* Layout*/

.wrapper {
  width: 960px;
  margin: auto;
}

.header {
  width: 960px;
  margin: auto;
}

.content {
  float: left;
  width: 70%;
}

.tag-list {
  width: 20%;
  margin-left: 4px;
  float: left;
  display: inline;
  background: black;
}

.footer {
  clear: both;
}
