.bookmark-list {
  .bookmark{
    display: block;
    background: black;

    margin-top: 2px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;

    span.title { font-weight: bold; }
    span.title, span.users-count, span.url { display: block; }

    ul.tags li {
      float: left;
      position: relative;
    }

    .users-count {
      clear: both;
    }

    &.active {
      -moz-box-shadow: 1px 1px 5px #00f;
      -webkit-box-shadow: 1px 1px 5px #00f;
      o-box-shadow: 1px 1px 1px #00f;
      khtml-box-shadow: 1px 1px 5px #00f;
      box-shadow: 1px 1px 5px #00f;
    }
  }
}
